<!DOCTYPE html>
<html lang="vi">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.x.x/css/all.min.css">
</head>
{% load static %}
<body>

    <!-- Thanh header màu xanh -->
    <header class="navbar navbar-expand-lg navbar-dark" style="background-color: #066BBB;">
        <div class="container-fluid">
            <a class="navbar-brand text-dark fw-bold" href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpg' %}" class="logo_website" alt="Logo" width="40" height="40">
                <img src="{% static 'images/tentruong.png' %}" alt="TenTruong" width="200" height="50">
            </a>
            <div class="d-flex">
                <a href="#" class="text-white me-3"><i class="fas fa-key"></i> Đổi mật khẩu</a>
                <a href="{% url 'login' %}" class="text-white"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
            </div>
        </div>
    </header>

    <div class="d-flex">
        <nav class="bg-light p-3" style="width: 250px; height: 100vh; background-color: #066BBB;">
            <div class="text-center">
                <img src="{% static 'images/userpic.jpg' %}" alt="User Avatar" class="rounded-circle" width="60" height="60">
               {% if request.user.is_authenticated %}
                    <p class="fw-bold mb-0">{{ request.user.username }}</p>
               {% endif %}
            </div>
            <ul class="nav flex-column custom-nav">
                <br>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center" style="color: #066BBB ">
                        <img src="{% static 'images/hoso.png' %}" alt="Hồ sơ" width="40" height="40" class="me-2">
                        <b>Hồ sơ</b>
                    </a>
                </li><br>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center" style="color: #066BBB">
                        <img src="{% static 'images/BHXH.png' %}" alt="BHXH" width="40" height="40" class="me-2">
                        <b>BHXH</b>
                    </a>
                </li><br>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center" style="color: #066BBB">
                        <img src="{% static 'images/kyluat.png' %}" alt="Kỷ luật & Khen thưởng" width="40" height="40" class="me-2">
                        <b>Kỷ luật & Khen thưởng</b>
                    </a>
                </li><br>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center" style="color: #066BBB">
                        <img src="{% static 'images/nghiphep.png' %}" alt="Nghỉ phép" width="40" height="40" class="me-2">
                        <b>Nghỉ phép</b>
                    </a>
                </li><br>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center" style="color: #066BBB">
                        <img src="{% static 'images/chamcong.png' %}" alt="Chấm công" width="40" height="40" class="me-2">
                        <b>Chấm công</b>
                    </a>
                </li><br>
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center" style="color: #066BBB">
                        <img src="{% static 'images/luong.png' %}" alt="Lương" width="40" height="40" class="me-2">
                        <b>Lương</b>
                    </a>
                </li><br>
            </ul>
        </nav>

        {% block page_background %}
        <main class="p-4" style="flex-grow: 1; background: url('{% static 'images/6840312.jpg' %}') no-repeat center center; background-size: cover;">
        </main>
        {% endblock %}
    </div>

    <footer class="text-center p-2 bg-light" style="background-color: #E8F9FF;">
        <p class="mb-0">Copyright 2025 © Mầm Non Măng Non Team 4</p>
    </footer>

</body>
</html>
