{% extends 'home.html' %}

{% block page_background %}
<div style="padding: 30px 50px;">

  <!-- Tiêu đề với tên nhân viên -->
  <h2 style="color: #066BBB; margin-bottom: 20px;">Lương của: {{ nhan_vien.ten_nv }}</h2>

  <div class="bang-luong" style="max-height: 600px; overflow-y: auto; padding-right: 20px; width: 700px;">
    <!-- Hiển thị các bảng lương -->
    {% for bang_luong in bang_luong_list %}
      <h3 style="color: #066BBB; margin-bottom: 20px;">Bảng Lương {{ bang_luong.title }}</h3>

      <table style="width: 100%; border-collapse: collapse;">
        <tr style="background-color: #D8EDFE;">
          <th style="padding: 8px; font-weight: bold;">Lương cơ bản</th>
          <th style="padding: 8px; font-weight: bold;">{{ bang_luong.muc_luong|floatformat:0 }} VND</th>
        </tr>
        <tr>
        <td style="padding: 8px;">Tiền BHXH </td>
        <td style="padding: 8px;">{{ bang_luong.tien_bhxh|floatformat:0 }} VND</td>
        </tr>
        <tr>
          <td style="padding: 8px;">Thưởng</td>
          <td style="padding: 8px;">{{ bang_luong.thuong|floatformat:0 }} VND</td>
        </tr>
        <tr>
          <td style="padding: 8px;">Thuế</td>
          <td style="padding: 8px;">{{ bang_luong.thue|floatformat:0 }} VND</td>
        </tr>
        <tr>
          <td style="padding: 8px;">Trừ muộn</td>
          <td style="padding: 8px;">{{ bang_luong.muon_tru|floatformat:0 }} VND</td>
        </tr>
        <tr>
          <td style="padding: 8px;">Trừ vắng</td>
          <td style="padding: 8px;">{{ bang_luong.vang_tru|floatformat:0 }} VND</td>
        </tr>
        <tr style="background-color: #D8EDFE;">
          <td style="padding: 8px; font-weight: bold;">Tổng lương</td>
          <td style="padding: 8px; font-weight: bold;">{{ bang_luong.tong_luong|floatformat:0 }} VND</td>
        </tr>
      </table>
    {% empty %}
      <p>Không có bảng lương nào.</p>
    {% endfor %}
  </div>

</div>
{% endblock %}
